@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Libre+Baskerville:wght@400;700&family=Lobster&display=swap');

:root {
    --main-background: #7CAFC4;
    --secondary-background: #133404;
    --section-background: #05204A;
    --main-text: #FFFFFF;
    --secondary-text: #FFD449;
    --accent-text: #54982C;

    --main-headings: 'ABeeZee', sans-serif;
    --secondary-headings: 'Lobster', cursive;
    --main-text: 'Libre Baskerville', serif;
}
html, body {
    overflow-x: hidden;
}

body {
    background-color: var(--main-background);
}

/* Header*/
header {
    background-color: var(--secondary-background);
    padding: 2em;
    display: grid;
    grid-template-columns: repeat(10, fr);
    column-gap: .5em;
    justify-items: center;
    align-items: center;
}
#logo-top {
    max-width: 100px;
    grid-column: 1/4;
    grid-row: 1/3;
}
#main-title {
    font-family: var(--main-headings);
    font-size: 2em;
    color: var(--accent-text);
    grid-column: 4/8;
    grid-row: 1/2;
    text-align: center;
    margin: .5em;
}
#subtitle {
    font-family: var(--main-headings);
    font-size: 1em;
    color: var(--accent-text);
    grid-column: 4/8;
    grid-row: 2/3;
    text-align: center;
    margin: 0 .5em 1em 0;
}
#social {
    grid-column: 8/10;
    grid-row: 1/3;
    margin-left: .5em;
    text-align: right;
    
}
#fbook {
    max-width: 25px;
    text-decoration: none;
}

#linked {
    max-width: 25px;
    text-decoration: none;
}

#main-nav {
    grid-column: 10/11;
    grid-row: 1/3;
}

#header-date {
    text-align: center;
    width: 100%;
    padding: .75em;
    margin-bottom: -1em;
    background-color: var(--accent-text);;
    grid-column: 1/11;
}

/*Navigation*/
nav {
    grid-column: 1/2;
    grid-row: 3/4;
}
nav ul {
    list-style-type: none;
    display: none;
}
nav ul li a {
    color: var(--accent-text);
}
nav button {
    background-color: transparent;
    color:var(--accent-text);
    border: none;
}

nav ul.open {display: block;}

#hamButton span:nth-child(1) {display:block;}
#hamButton span:nth-child(2) {display:none;}

#hamButton.open span:nth-child(1) {display:none;}
#hamButton.open span:nth-child(2) {display:block;}


h1 {
    font-size: 2rem;
}
main {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1em;
    margin: 1.5em;
}

#mon-tues-banner {
    display: none;
}

/*Sections*/
#hero, #event, #weather, #news, #spotlight, #join {
    border: 2px solid rgba(0,0,0,0.3);
    padding: 5em;
}

#spotlight {
    border: 2px solid rgba(0,0,0,0.3);
    padding: 1em;
}
#spot1 {
    border: 2px solid rgba(0,0,0,0.3);
    padding: 2em;
    margin: .5em;
}
#spot2 {
    border: 2px solid rgba(0,0,0,0.3);
    padding: 2em;
    margin: .5em;
}
#spot3 {
    border: 2px solid rgba(0,0,0,0.3);
    padding: 2em;
    margin: .5em;
    display: none;
}

/* Footer */
footer {
    text-align: center;
    margin-bottom: 2em;
}
#footer-title {
    font-family: var(--main-headings);
}

#logo-footer {
    max-width: 200px;
}
#line1 {
    display: none;
}
#line2 {
    display: none;
}
#line3 {
    display: none;
}
