@media only screen and (min-width: 35rem) {
    main {
        box-sizing: border-box;
        grid-template-columns: 1fr 1fr 1fr;
    }

    /*Sections*/
    /* #hero {
        grid-column: ;
        grid-row: ;
    }
    #event {
        grid-column: ;
        grid-row: ;
    } */
    #weather {
        grid-column: ;
        grid-row: ;
    }
    #news {
        grid-column: ;
        grid-row: ;
    }
    #spotlight {
        grid-column: ;
        grid-row: ;
    }
    #spot1 {
        grid-column: ;
        grid-row: ;
    }
    #spot2 {
        grid-column: ;
        grid-row: ;
    }
    #spot3 {
        display: none;
    }
    #join {
        grid-column: ;
        grid-row: ;
    }
    
    
}