@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Yanone+Kaffeesatz:wght@300&display=swap');
body {
    max-width: 1400px;
    margin: auto;
}

header {
    background-color: #99c63d;
    color: black;
    text-align: center;
}
h1, h2 {
    font-family: 'Archivo Black', sans-serif;
}
main {
    background-color: #2c3c43;
}
video {
    display:block;
    margin: auto;
}