@import url('https://fonts.googleapis.com/css2?family=ABeeZee&display=swap');

:root {
    --page-background: #000000;
    --main-background: #00A6A6
;
    --header-background: #7DC431;
    --footer-background: #F84AA7;
}

html {
    background-color: var(--page-background);
    background-image: url("../images/circuit.png")
}
/* Header */
header {
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr; */
    display: flex;
    background-color: var(--header-background);
    align-items: center;
    justify-content: space-around;
    padding: 3rem;
}

img {
    max-width: 25%;
    max-height: auto;
}


h1 {
    text-align: center;
    /* grid-column:2/4; */
}

/* main content*/
body {
    max-width: 700px;
    margin: 0 auto;
    font-family: 'Trebuchet MS', sans-serif;
    background-color: var(--main-background); 
    padding: 2rem;
}

/* footer */
footer {
    background-color: var(--footer-background);
    padding: 2rem;
}